

$primary-color: #e91e63;
$bg-primary-gradient:linear-gradient(195deg,#ec407a,#d81b60);

$secondary-color: #2ecc71;
$font-size-base: 16px;
$spacing-unit: 8px;
$base-card-box-shadow:0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06);