@use '../utils/variables' as *;

header.dash_header {
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
    margin-bottom: 40px;
    
    .page_content{
        h4 {
            font-size: 13px;
            margin-bottom: 2px;
        }
         h5 {
            font-size: 15px;
            margin: 0px 0px;
        }
    } 
    .switch_sidebar {
        margin-right: 14px;
    }
    .user__detail{
        cursor: pointer;
        display: flex;
        align-items: center;

        svg {
            font-size: 22px;
            margin-right: 4px;
            color:$primary-color;
        }
    } 
}
